


.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* Shared Style */

.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    width: 150;
    height: 64;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    border: none;
}

/* header styles */

.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    align-items: center;
}

/* Nav Styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 51px 230px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content{
    width: 580px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-profile-pic{
    width: 580px;
}